<div class="jumbotron header">
  <div class="container">
    <h1 id="bookings-h1"><%= current_user.first_name.capitalize! %>, here are your bookings</h1>
  </div>
</div>
<div class="content">
    <div class="container">
          <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
              <h2>Product name</h2>
              <p>Product description with <strong>relevant info</strong> only.</p>
            </div>
          </div>
    </div>
</div>
