.card-product {
  overflow: hidden;
  height: 200px;
  width: 75%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  color: rgb(68, 68, 68);
}

.card-product img {
  height: 100%;
  width: 250px;
  object-fit: cover;
  object-position: top;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product h4 {
  font-size: 16px;
  font-weight: light;
  margin: 10px 10px 0 0;
}
.card-product p {
  font-size: 12px;

}

.card-product .card-product-infos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.card-product .card-product-infos .card-product-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
