footer {
  background-color: $dark-blue;
  color: #ffffffdb;
  padding-top: 20px;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  h3{
    font-size: 26px;
    }
  p, a{
    font-size: 14px;
    text-decoration: none;
  }
}

.footer #about {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer #links {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
  ul {
    list-style: none;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: #ffffffdb;
  }
}

.footer #contact {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer #follow {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
  #follow-links {
    display: flex;
    gap: 30px;
    a {
      color: #ffffffdb;
      font-size: 20px;
      text-decoration: none;
    }
  }
}

#copyright {
  text-align: center;
  padding: 5px 0;
  background-color: $dark-blue;
  color: #ffffffdb;
}
