.header {
  min-height: 20vh;
  padding-top: 10vh;
  align-items: center;
}

.header h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.header p {
  font-size: 20px;
  color: #fff;
}
