.nav-1 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-1:before {
  content: none;
  display: none;
}

.nav-1:after {
  content: none;
  display: none;
}

.nav-1 .pull-left {
  margin-left: 50px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 30px;
  p {
    margin-bottom: 0;
  }
}

.nav-1 .pull-right {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.show-add {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: space-between;
  padding-left: 300px;
  padding-right: 300px;
  display: inline-block;
  a {
    margin-right: 24px;
  }
}

#pull-right-logged-in {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-1 .pull-right a {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-1 a {
  color: #5a5a5a;
}

#logo {
  font-size: x-large;
}

